
<div class="container" data-ng-app="movies">

  <h1><a data-ui-sref="index" href="#">Linkin single!</a></h1>



<main data-ui-view></main>
  </div>

<% @movies.each do |movie| %>
  <div class="movie">
    <!-- <h1><a data-ui-sref="show{(id: movie.id)}" href="#">Linkin!</a></h1> -->
    <h3><%= link_to movie.title, movie %> (<%= movie.opening%>)</h3>
    <p>Publisher: <%= movie.publisher.name if movie.publisher %></p>
    <%= link_to (image_tag movie.image), movie %>
</div>

<% end %>
