<%= javascript_include_tag "angular"%>
<%= javascript_include_tag "application"%>

<p></p>
<div class="publisherindex" data-ng-app="movie">
  <div>
    <h1 data-ui-view>Welcome to our Marvel vs. DC movies page!</h1>
    <p>
      This site was developed and deployed by Robel Tekeste, Nyron Waite and Andrew Smith-Mui. It is an Angular app with a Rails back-end. This was developed as a class project for General Assembly's Web Development Immersive course. Thank you for visiting!
    </p>
  </div>
  <div class="publisher">
    <% @publishers.each do |publisher| %>
      <div class="publisher">
        <%= link_to (image_tag publisher.image), publisher %>
      </div>
    <% end %>
  </div>
</div>
