/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(https://fonts.googleapis.com/css?family=Irish+Grover);

body {
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-image: opacity(0.50);
  text-align: center;
  padding: 15px;
  font-size: 16px;
}

nav {
  padding: 15px;
   background-image: url("banner.jpg");
   background-position: center;
   border-radius: 35px;
   height: 135px;
   background-size: 100%;
   background-repeat: no-repeat;
   background-size: contain;
   background-color: black;
}

a {
  color: inherit;
}
/*#myContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.myWrapper {
  position: relative;
}

.myTarget {
  position: relative;
  display: block;
}

#marvel {
  top: 100px;
  right: 100px;
  width: 50px;
  height: 20px;
}

#dc {
  top: 0px;
  left: : 100px;
  width: 150px;
  height: 100px;
}*/

#publisher {
  /*display: inline-block;*/
  /*padding: 25px;*/
  position: inherit;
  background-color: rgba(0, 0, 0, 0.50);
  /*margin: 1px;*/
  padding: 10px;
  /*margin: 0;
  padding: 0;*/
  display: inline-grid;
  border-radius: 35px;
}

.publisherindex {
  display: inline-block;
  padding: 25px;
  position: inherit;
  background-color: rgba(0, 0, 0, 0.50);
  /*margin: 1px;*/
  padding: 10px;
  /*margin: 0;
  padding: 0;*/
  display: inline-grid;
  border-radius: 35px;
  width: 98%;
}

.publisher {
  display: inline-block;
  padding: 25px;
  position: inherit;
  /*background-color: rgba(0, 0, 0, 0.50);*/
  /*margin: 1px;*/
  padding: 10px;
  /*margin: 0;
  padding: 0;*/
  display: inline-grid;
  border-radius: 35px;
}

.publisher img {
  display: block;
     margin-left: auto;
     margin-right: auto;
     width: 100px;
     height: 75px;
  -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
      -o-transition: all .5s ease;
     -ms-transition: all .5s ease;
         transition: all .5s ease;
}

.publishershow {
  display: inline-block;
  padding: 25px;
  position: inherit;
}

.publishershow img {
  display: block;
     margin-left: auto;
     margin-right: auto;
     width: 100px;
     height: 75px;
  -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
      -o-transition: all .5s ease;
     -ms-transition: all .5s ease;
         transition: all .5s ease;
}

.movie {
   display: inline-block;
   padding: 25px;
   position: relative;
 }

 .movie img {
   display: block;
   width: 200px;
   height: 300px;
   border-radius: 5%;
   box-shadow: 5px 5px 5px #888888;
   -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
 }

 .movie img:hover {
  -webkit-filter: opacity(0.50);
 }

 .movieshow {
    display: inline-block;
    padding: 25px;
    position: inherit;
    text-align: left;
  }

  .movietext {
     float: right;
   }

  p {
    padding: 10px;
    font-size: 18px;
  }
  .movieshow img {
    float: left;
    display: block;
    border-radius: 10px;
    width: 200px;
    height: 300px;
    border-radius: 5%;
    box-shadow: 5px 5px 5px #888888;
    -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
       -ms-transition: all .5s ease;
           transition: all .5s ease;
  }

 .movieshow img:hover {
  -webkit-filter: opacity(0.50);
}

.actor {
   display: inline-block;
   padding: 15px;
   /*border: 1px solid black;
   border-radius: 40%;*/
 }

 .actor img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 115px;
   height: 175px;
   border-radius: 15%;
   box-shadow: 5px 5px 5px #888888;
   -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
 }

 .actor img:hover {
  /*width: 180px;
  height: 205px;*/
  /*-webkit-filter: grayscale(100%);
  -webkit-filter: hue-rotate(111deg);*/
  -webkit-filter: opacity(0.50);
}




 #container #sidebar,
 #container #synopsis,
 #container #director,
 #container #actors  {
   background-color: rgba(0, 0, 0, 0.50);
   margin: 1px;
   padding: 10px;
 }

#container *{
  margin: 0;
  padding: 0;
  display: block;
  border-radius: 35px;
}
#container{
  display: block;
}

#container #scrollbar,
#container #sidebar,
#container #synopsis,
#container #director,
#container #actors  {
  background-color: rgba(0, 0, 0, 0.50);
  margin: 1px;
  padding: 10px;
}

#container #scrollbar{
  min-height: 470px;
  width: 8%;
  height: 100%;
  float: left;
}

#container #sidebar{
  min-height: 450px;
  width: 28%;
  height: 100%;
  float: left;
  padding: 10px;
  padding-top: 30px;
}
#sidebar .poster{

}
#container #content{
  width: 60%;
  float: left;

}
#container #synopsis{
  min-height: 210px;
  padding: 10px;
  padding-top: 30px;
}
#container #director{
  width: 15%;
  float: left;
}
#container #actors{
  width: 79%;
  float: left;
}
#actors .actor{
  float: left;
  width: 33%;
}

#actors .actor img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 115px;
  height: 175px;
  border-radius: 15%;
  box-shadow: 5px 5px 5px #888888;
  -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
      -o-transition: all .5s ease;
     -ms-transition: all .5s ease;
         transition: all .5s ease;
}

#actors .actor p{
  font-size: 1em;
}

.clearfix{
  clear:both;
}
